[Desktop Entry]
Type=Application
Name=spotify-qt
GenericName=Music Player
Comment=Lightweight Spotify client using Qt
Icon=spotify-qt
Exec=spotify-qt
Terminal=false
Categories=Audio;Music;Player;AudioVideo;