[Desktop Entry]
Type=Application
Name=Spotify-qt
GenericName=Music Player
Icon=spotify-qt
Exec=spotify-qt
Terminal=false
Categories=Audio;Music;Player;AudioVideo;
