name: macOS

on: [ push, pull_request ]

env:
  BUILD_TYPE: Release
  QT_VERSION: "6.5.2"
  QT_ARCH: "clang_64"

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          cache: true
          version: ${{env.QT_VERSION}}
          arch: ${{env.QT_ARCH}}

      - name: Create Build Environment
        run: cmake -E make_directory ${{runner.workspace}}/build

      - name: Configure CMake
        working-directory: ${{runner.workspace}}/build
        run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DUSE_TESTS=ON -DUSE_LTO=ON -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64"

      - name: Build
        working-directory: ${{runner.workspace}}/build
        run: cmake --build . --config $BUILD_TYPE

      - name: Test
        run: ${{runner.workspace}}/build/lib/test/spotify-qt-lib-test

      - name: Package
        run: macdeployqt ${{runner.workspace}}/build/spotify-qt.app -dmg -verbose=2

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: spotify-qt
          path: ${{runner.workspace}}/build/spotify-qt.dmg
