name: Windows (MinGW)

on: [ push, pull_request ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest

    defaults:
      run:
        shell: msys2 {0}

    steps:
      - uses: actions/checkout@v4

      - uses: msys2/setup-msys2@v2
        with:
          update: true
          install: >-
            git
            base-devel
            cmake
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-qt6-base
            mingw-w64-x86_64-qt6-svg

      - name: Configure CMake
        run: cmake . -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DUSE_TESTS=ON -DUSE_LTO=ON

      - name: Build
        run: cmake --build . --config $BUILD_TYPE

      - name: Test
        run: ./lib/test/spotify-qt-lib-test.exe

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: spotify-qt
          path: ./spotify-qt.exe
